.App {
  text-align: center;
}

/* Reset default margins/paddings for the whole app to ensure full screen layouts work */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}